@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'outfit';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'curse';
  src: url('./assets/fonts/Curse\ of\ the\ Zombie.ttf');
}

*{
  @apply font-[outfit] text-neutral-800
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html{
  @apply overflow-x-hidden;
}